In [198]:
import pandas as pd
from pathlib import Path
import numpy as np




pd.options.display.float_format = '{:,.0f}'.format

In [199]:
# path to raw data

csv_path = Path('C:/Data from D drive/Temp/mls77007_raw.csv')

In [200]:
mls_df = pd.read_csv(csv_path)
mls_df.head()

,MLS Number,Property Type,Status,Street Number,Street Name,Unit Number,City/Location,Zip Code,County,List Price,...,List Office Name,List Agent MLSID,List Agent Full Name,Selling Office MLSID,Selling Office Name,Selling Agent MLSID,Selling Agent Full Name,Realist Owner Name,Last Change Timestamp,List Date
0,57762389,Rental,Active,4223 1/2,Marina,NaN,Houston,77007,Harris,$895.00,...,Champions Real Estate Group,XIULING,Shirley Ling Lu,NaN,NaN,NaN,NaN,nan,9/14/2019 23:44,9/14/2019 0:00
1,79734246,Rental,Active,1111,Durham Dr,220,Houston,77007,Harris,"$1,076.00",...,ULR Properties,mbmims,Marvin Mims,NaN,NaN,NaN,NaN,nan,9/11/2019 19:11,7/16/2019 0:00
2,35573780,Rental,Active,5353,Memorial,3026,Houston,77007,Harris,"$1,360.00",...,JPAR - The Sears Group,dagsmith,Danielle Smith,NaN,NaN,NaN,NaN,nan,9/6/2019 16:19,9/6/2019 0:00
3,12224183,Rental,Active,5353,Memorial,3017,Houston,77007,Harris,"$1,360.00",...,JPAR - The Sears Group,dagsmith,Danielle Smith,NaN,NaN,NaN,NaN,nan,9/6/2019 16:12,9/6/2019 0:00
4,3848481,Rental,Active,5353,Memorial,3002,Houston,77007,Harris,"$1,360.00",...,JPAR - The Sears Group,dagsmith,Danielle Smith,NaN,NaN,NaN,NaN,nan,9/6/2019 16:00,9/6/2019 0:00

In [201]:
# format List Price column


mls_df['List Price'] = mls_df['List Price'].str.replace('$', '')
mls_df['List Price'] = mls_df['List Price'].str.replace(',', '')
mls_df['List Price'] = mls_df['List Price'].astype(float)

In [151]:
mls_df.columns

Index(['MLS Number', 'Property Type', 'Status', 'Street Number', 'Street Name',
       'Unit Number', 'City/Location', 'Zip Code', 'County', 'List Price',
       'Close Price', 'Close Date', 'Area', 'Subdivision',
       'Master Planned Community', 'Market Area', 'School District',
       'School Elementary', 'School Middle', 'School High', 'Sq Ft Total',
       'Price Sq Ft List', 'Price Sq Ft Sold', 'Lot Size', 'Acres',
       'Price Acre List', 'Price Acre Sales', 'Year Built', 'Bedrooms',
       'Baths Full', 'Baths Half', 'Baths Total', 'Room Count',
       'Fireplaces Number', 'Stories', 'New Construction',
       'New Construction Desc', 'Pool Private', 'No Of Garage Cap', 'Style',
       'DOM', 'CDOM', 'List Office MLSID', 'List Office Name',
       'List Agent MLSID', 'List Agent Full Name', 'Selling Office MLSID',
       'Selling Office Name', 'Selling Agent MLSID', 'Selling Agent Full Name',
       'Realist Owner Name', 'Last Change Timestamp', 'List Date '],
      dtype='object')

In [202]:
mls_df['Rent_Sale'] = np.where(mls_df['Property Type']=='Rental', 'Rental', 'Sale')
mls_df.fillna(0, inplace=True)
mls_df.head()

,MLS Number,Property Type,Status,Street Number,Street Name,Unit Number,City/Location,Zip Code,County,List Price,...,List Agent MLSID,List Agent Full Name,Selling Office MLSID,Selling Office Name,Selling Agent MLSID,Selling Agent Full Name,Realist Owner Name,Last Change Timestamp,List Date,Rent_Sale
0,57762389,Rental,Active,4223 1/2,Marina,0,Houston,77007,Harris,895,...,XIULING,Shirley Ling Lu,0,0,0,0,0,9/14/2019 23:44,9/14/2019 0:00,Rental
1,79734246,Rental,Active,1111,Durham Dr,220,Houston,77007,Harris,"1,076",...,mbmims,Marvin Mims,0,0,0,0,0,9/11/2019 19:11,7/16/2019 0:00,Rental
2,35573780,Rental,Active,5353,Memorial,3026,Houston,77007,Harris,"1,360",...,dagsmith,Danielle Smith,0,0,0,0,0,9/6/2019 16:19,9/6/2019 0:00,Rental
3,12224183,Rental,Active,5353,Memorial,3017,Houston,77007,Harris,"1,360",...,dagsmith,Danielle Smith,0,0,0,0,0,9/6/2019 16:12,9/6/2019 0:00,Rental
4,3848481,Rental,Active,5353,Memorial,3002,Houston,77007,Harris,"1,360",...,dagsmith,Danielle Smith,0,0,0,0,0,9/6/2019 16:00,9/6/2019 0:00,Rental

In [203]:
 # sqr footage bins
bins = [448, 1163,1878,2593,3308,4023,4738,5453,6168,6883, 18322]


group_names = ["448-1162", "1163-1877", "1878-2592", "2593-3307", "3308-4022", "4023-4737", "4738-5452", "5453-6167", "6168-6882","6883 - "]

In [204]:
mls_df["SqrFt_Bin"] = pd.cut(mls_df["Sq Ft Total"], bins, labels=group_names)

mls_df.head()

,MLS Number,Property Type,Status,Street Number,Street Name,Unit Number,City/Location,Zip Code,County,List Price,...,List Agent Full Name,Selling Office MLSID,Selling Office Name,Selling Agent MLSID,Selling Agent Full Name,Realist Owner Name,Last Change Timestamp,List Date,Rent_Sale,SqrFt_Bin
0,57762389,Rental,Active,4223 1/2,Marina,0,Houston,77007,Harris,895,...,Shirley Ling Lu,0,0,0,0,0,9/14/2019 23:44,9/14/2019 0:00,Rental,448-1162
1,79734246,Rental,Active,1111,Durham Dr,220,Houston,77007,Harris,"1,076",...,Marvin Mims,0,0,0,0,0,9/11/2019 19:11,7/16/2019 0:00,Rental,448-1162
2,35573780,Rental,Active,5353,Memorial,3026,Houston,77007,Harris,"1,360",...,Danielle Smith,0,0,0,0,0,9/6/2019 16:19,9/6/2019 0:00,Rental,448-1162
3,12224183,Rental,Active,5353,Memorial,3017,Houston,77007,Harris,"1,360",...,Danielle Smith,0,0,0,0,0,9/6/2019 16:12,9/6/2019 0:00,Rental,448-1162
4,3848481,Rental,Active,5353,Memorial,3002,Houston,77007,Harris,"1,360",...,Danielle Smith,0,0,0,0,0,9/6/2019 16:00,9/6/2019 0:00,Rental,448-1162

In [205]:
 # year_built bins
bins2 = [1870,1889, 1908, 1928, 1947, 1966, 1985, 2005, 2019]


group_names2 = ["1870-1888", "1889-1907", "1908-1927", "1928-1946" , "1947-1965" , "1966-1984" , "1985-2004" , "2005-2019"]

In [206]:
mls_df["YrBuilt_Bin"] = pd.cut(mls_df["Year Built"], bins2, labels=group_names2)

mls_df

,MLS Number,Property Type,Status,Street Number,Street Name,Unit Number,City/Location,Zip Code,County,List Price,...,Selling Office MLSID,Selling Office Name,Selling Agent MLSID,Selling Agent Full Name,Realist Owner Name,Last Change Timestamp,List Date,Rent_Sale,SqrFt_Bin,YrBuilt_Bin
0,57762389,Rental,Active,4223 1/2,Marina,0,Houston,77007,Harris,895,...,0,0,0,0,0,9/14/2019 23:44,9/14/2019 0:00,Rental,448-1162,1928-1946
1,79734246,Rental,Active,1111,Durham Dr,220,Houston,77007,Harris,"1,076",...,0,0,0,0,0,9/11/2019 19:11,7/16/2019 0:00,Rental,448-1162,2005-2019
2,35573780,Rental,Active,5353,Memorial,3026,Houston,77007,Harris,"1,360",...,0,0,0,0,0,9/6/2019 16:19,9/6/2019 0:00,Rental,448-1162,1985-2004
3,12224183,Rental,Active,5353,Memorial,3017,Houston,77007,Harris,"1,360",...,0,0,0,0,0,9/6/2019 16:12,9/6/2019 0:00,Rental,448-1162,1985-2004
4,3848481,Rental,Active,5353,Memorial,3002,Houston,77007,Harris,"1,360",...,0,0,0,0,0,9/6/2019 16:00,9/6/2019 0:00,Rental,448-1162,1985-2004
5,33481856,Rental,Active,1212,Dart,0,Houston,77007,Harris,"1,395",...,0,0,0,0,0,8/29/2019 22:02,6/29/2019 0:00,Rental,448-1162,1928-1946
6,23435509,Rental,Active,531,Threlkeld,0,Houston,77007,Harris,"1,400",...,0,0,0,0,0,8/23/2019 19:18,8/23/2019 0:00,Rental,448-1162,1908-1927
7,44687062,Rental,Active,821,Harvard,0,Houston,77007,Harris,"1,400",...,0,0,0,0,0,8/20/2019 16:38,8/20/2019 0:00,Rental,448-1162,2005-2019
8,19379653,Rental,Active,320,Jackson Hill,A1,Houston,77007,Harris,"1,424",...,0,0,0,0,0,7/24/2019 14:15,7/24/2019 0:00,Rental,448-1162,1985-2004
9,368704,Rental,Active,1441,East,308,Houston,77007,Harris,"1,450",...,0,0,0,0,0,8/26/2019 13:19,8/26/2019 0:00,Rental,448-1162,1985-2004
10,29079883,Rental,Active,150,Sabine St,453,Houston,77007,Harris,"1,493",...,0,0,0,0,0,9/4/2019 3:30,9/4/2019 0:00,Rental,448-1162,1985-2004
11,7682161,Rental,Active,150,Sabine St,120,Houston,77007,Harris,"1,493",...,0,0,0,0,0,9/4/2019 3:16,9/4/2019 0:00,Rental,448-1162,1985-2004
12,68281377,Rental,Active,150,Sabine St,128,Houston,77007,Harris,"1,493",...,0,0,0,0,0,9/4/2019 2:47,9/4/2019 0:00,Rental,448-1162,1985-2004
13,88006800,Rental,Active,150,Sabine St,218,Houston,77007,Harris,"1,493",...,0,0,0,0,0,9/4/2019 2:01,8/8/2019 0:00,Rental,448-1162,1985-2004
14,73867058,Rental,Active,150,Sabine St,126,Houston,77007,Harris,"1,493",...,0,0,0,0,0,9/4/2019 1:55,8/8/2019 0:00,Rental,448-1162,1985-2004
15,72368250,Rental,Active,1707,Holly,0,Houston,77007,Harris,"1,495",...,0,0,0,0,0,9/10/2019 16:14,9/10/2019 0:00,Rental,448-1162,1928-1946
16,65687799,Rental,Active,320,Jackson Hill,A2,Houston,77007,Harris,"1,531",...,0,0,0,0,0,7/24/2019 14:23,7/24/2019 0:00,Rental,448-1162,1985-2004
17,95320821,Rental,Active,1011,Studemont,108,Houston,77007,Harris,"1,549",...,0,0,0,0,0,9/13/2019 17:01,8/7/2019 0:00,Rental,448-1162,2005-2019
18,4902713,Rental,Active,150,Sabine St,430,Houston,77007,Harris,"1,562",...,0,0,0,0,0,9/4/2019 2:01,8/8/2019 0:00,Rental,448-1162,1985-2004
19,19373136,Rental,Active,145,Heights Blvd,232,Houston,77007,Harris,"1,575",...,0,0,0,0,0,8/31/2019 21:27,8/31/2019 0:00,Rental,NaN,2005-2019
20,90079860,Rental,Active,3663,Washington,6003,Houston,77007,Harris,"1,585",...,0,0,0,0,0,8/28/2019 18:14,8/28/2019 0:00,Rental,448-1162,2005-2019
21,27420650,Rental,Active,820,Waverly,0,Houston,77007,Harris,"1,600",...,0,0,0,0,0,9/11/2019 22:20,9/11/2019 0:00,Rental,448-1162,1908-1927
22,73352633,Rental,Active,1116,Cohn,0,Houston,77007,Harris,"1,600",...,0,0,0,0,0,9/9/2019 15:42,9/9/2019 0:00,Rental,1163-1877,1947-1965
23,66306553,Rental,Active,1011,Studemont,104,Houston,77007,Harris,"1,600",...,0,0,0,0,0,9/6/2019 16:47,9/6/2019 0:00,Rental,448-1162,2005-2019
24,79213461,Rental,Active,631,Cortlandt,A,Houston,77007,Harris,"1,600",...,0,0,0,0,0,9/4/2019 17:29,9/4/2019 0:00,Rental,448-1162,1985-2004
25,43604093,Rental,Active,1011,Studemont,304,Houston,77007,Harris,"1,600",...,0,0,0,0,0,9/14/2019 12:37,8/30/2019 0:00,Rental,448-1162,2005-2019
26,56658501,Rental,Active,150,Sabine St,260,Houston,77007,Harris,"1,613",...,0,0,0,0,0,9/4/2019 2:00,8/22/2019 0:00,Rental,448-1162,1985-2004
27,43952391,Rental,Active,150,Sabine St,151,Houston,77007,Harris,"1,633",...,0,0,0,0,0,9/4/2019 2:02,8/9/2019 0:00,Rental,448-1162,1985-2004
28,31506309,Rental,Active,505,Jackson Hill,313,Houston,77007,Harris,"1,650",...,0,0,0,0,0,8/21/2019 10:20,8/21/2019 0:00,Rental,448-1162,1985-2004
29,34292236,Rental,Active,5454,Washington,3511,Houston,77007,Harris,"1,678",...,0,0,0,0,0,9/16/2019 13:22,9/10/2019 0:00,Rental,448-1162,2005-2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,66273734,Single-Family,Terminated,748,Nicholson,0,Houston,77007,Harris,"409,000",...,0,0,0,0,0,9/5/2019 9:43,7/18/2019 0:00,Sale,1878-2592,2005-2019
971,32448791,Single-Family,Terminated,1512,Weber,C,Houston,77007,Harris,"413,900",...,0,0,0,0,0,9/11/2019 10:11,8/8/2019 0:00,Sale,1878-2592,2005-2019
972,10712542,Single-Family,Terminated,1512,Weber,F,Houston,77007,Harris,"417,000",...,0,0,0,0,0,9/11/2019 10:10,8/22/2019 0:00,Sale,1878-2592,2005-2019
973,93532320,Single-Family,Terminated,748,Nicholson,0,Houston,77007,Harris,"419,000",...,0,0,0,0,0,7/15/2019 15:52,7/10/2019 0:00,Sale,1878-2592,2005-2019
974,51306161,Single-Family,Terminated,748,Nicholson,0,Houston,77007,Harris,"419,900",...,0,0,0,0,0,7/10/2019 18:06,7/9/2019 0:00,Sale,1878-2592,2005-2019
975,77319405,Single-Family,Terminated,4609,Nett,A,Houston,77007,Harris,"425,000",...,0,0,0,0,0,8/15/2019 6:33,7/10/2019 0:00,Sale,1878-2592,2005-2019
976,97633832,Townhouse/Condo,Terminated,1419,Thompson,0,Houston,77007,Harris,"428,500",...,0,0,0,0,0,9/10/2019 18:37,8/3/2019 0:00,Sale,2593-3307,2005-2019
977,18303303,Single-Family,Terminated,5509,Blossom,0,Houston,77007,Harris,"431,000",...,0,0,0,0,0,8/13/2019 16:16,8/9/2019 0:00,Sale,1878-2592,1985-2004
978,24168189,Single-Family,Terminated,1512,Weber,A,Houston,77007,Harris,"434,900",...,0,0,0,0,0,9/11/2019 10:12,8/8/2019 0:00,Sale,1878-2592,2005-2019
979,14516529,Townhouse/Condo,Terminated,6310,Hamman,B,Houston,77007,Harris,"449,000",...,0,0,0,0,0,8/20/2019 14:07,8/6/2019 0:00,Sale,1878-2592,2005-2019
980,83542356,Single-Family,Terminated,1615,Alamo,0,Houston,77007,Harris,"449,000",...,0,0,0,0,0,8/3/2019 14:34,7/10/2019 0:00,Sale,1163-1877,1928-1946
981,14423394,Single-Family,Terminated,5226,Eigel,B,Houston,77007,Harris,"449,900",...,0,0,0,0,0,8/4/2019 18:03,7/5/2019 0:00,Sale,1878-2592,2005-2019
982,63833981,Single-Family,Terminated,5210,Lillian,0,Houston,77007,Harris,"469,000",...,0,0,0,0,0,9/3/2019 13:06,7/25/2019 0:00,Sale,1878-2592,1985-2004
983,44000013,Townhouse/Condo,Terminated,207,Knox,0,Houston,77007,Harris,"474,900",...,0,0,0,0,0,7/18/2019 19:37,7/18/2019 0:00,Sale,1878-2592,1985-2004
984,28559172,Single-Family,Terminated,5220,Lillian,0,Houston,77007,Harris,"475,000",...,0,0,0,0,0,8/29/2019 18:29,8/4/2019 0:00,Sale,1878-2592,1985-2004
985,84410880,Townhouse/Condo,Terminated,715,Malone,0,Houston,77007,Harris,"479,000",...,0,0,0,0,0,9/15/2019 22:33,9/12/2019 0:00,Sale,1878-2592,2005-2019
986,21194722,Single-Family,Terminated,4402,Schuler,B,Houston,77007,Harris,"485,000",...,0,0,0,0,0,7/24/2019 13:30,7/17/2019 0:00,Sale,1878-2592,2005-2019
987,5495421,Single-Family,Terminated,5326,Larkin,0,Houston,77007,Harris,"489,000",...,0,0,0,0,0,8/23/2019 13:09,7/29/2019 0:00,Sale,2593-3307,2005-2019
988,66691107,Townhouse/Condo,Terminated,1116,Thompson,0,Houston,77007,Harris,"499,999",...,0,0,0,0,0,8/10/2019 12:10,8/2/2019 0:00,Sale,1878-2592,2005-2019
989,53743165,Single-Family,Terminated,2711,Cohn,0,Houston,77007,Harris,"500,000",...,0,0,0,0,0,9/11/2019 10:07,8/6/2019 0:00,Sale,2593-3307,2005-2019
990,72761328,Townhouse/Condo,Terminated,4228,Center,0,Houston,77007,Harris,"509,000",...,0,0,0,0,0,8/6/2019 9:13,7/27/2019 0:00,Sale,2593-3307,2005-2019
991,97977208,Single-Family,Terminated,1215D,Hickory,0,Houston,77007,Harris,"510,000",...,0,0,0,0,0,7/2/2019 18:02,6/28/2019 0:00,Sale,2593-3307,2005-2019
992,32454351,Single-Family,Terminated,5229,Nett,0,Houston,77007,Harris,"514,900",...,0,0,0,0,0,9/12/2019 11:02,7/19/2019 0:00,Sale,1878-2592,2005-2019
993,10283568,Single-Family,Terminated,4402A,Dickson Street,0,Houston,77007,Harris,"524,900",...,0,0,0,0,0,7/23/2019 18:18,7/4/2019 0:00,Sale,1878-2592,2005-2019
994,7623392,Townhouse/Condo,Terminated,327,2nd,0,Houston,77007,Harris,"575,900",...,0,0,0,0,0,9/6/2019 14:31,7/28/2019 0:00,Sale,2593-3307,2005-2019
995,88844122,Single-Family,Terminated,2714,Cohn Garden,0,Houston,77007,Harris,"589,000",...,0,0,0,0,0,9/3/2019 16:50,7/26/2019 0:00,Sale,3308-4022,2005-2019
996,62173139,Single-Family,Terminated,802,Oxford,0,Houston,77007,Harris,"650,000",...,0,0,0,0,0,8/30/2019 8:06,8/23/2019 0:00,Sale,1163-1877,1908-1927
997,66629994,Single-Family,Terminated,802,Oxford,0,Houston,77007,Harris,"650,000",...,0,0,0,0,0,8/23/2019 8:16,7/25/2019 0:00,Sale,1163-1877,1908-1927
998,44641781,Single-Family,Terminated,813,Alexander,0,Houston,77007,Harris,"709,000",...,0,0,0,0,0,8/14/2019 11:36,8/13/2019 0:00,Sale,1878-2592,1908-1927
999,73254809,Single-Family,Terminated,4202,Eigel,0,Houston,77007,Harris,"760,000",...,0,0,0,0,0,8/26/2019 12:50,7/17/2019 0:00,Sale,3308-4022,2005-2019

In [207]:
 # #of bedrooms
bins3 = [0, 1, 3, 4,5]

group_names3 = ["1", "2 or 3","4", "5"]

In [208]:

# add column with #bedroom bins

mls_df["numberOfBedrooms"] = pd.cut(mls_df["Bedrooms"], bins3, labels=group_names3)

mls_df.head()

,MLS Number,Property Type,Status,Street Number,Street Name,Unit Number,City/Location,Zip Code,County,List Price,...,Selling Office Name,Selling Agent MLSID,Selling Agent Full Name,Realist Owner Name,Last Change Timestamp,List Date,Rent_Sale,SqrFt_Bin,YrBuilt_Bin,numberOfBedrooms
0,57762389,Rental,Active,4223 1/2,Marina,0,Houston,77007,Harris,895,...,0,0,0,0,9/14/2019 23:44,9/14/2019 0:00,Rental,448-1162,1928-1946,1
1,79734246,Rental,Active,1111,Durham Dr,220,Houston,77007,Harris,"1,076",...,0,0,0,0,9/11/2019 19:11,7/16/2019 0:00,Rental,448-1162,2005-2019,1
2,35573780,Rental,Active,5353,Memorial,3026,Houston,77007,Harris,"1,360",...,0,0,0,0,9/6/2019 16:19,9/6/2019 0:00,Rental,448-1162,1985-2004,1
3,12224183,Rental,Active,5353,Memorial,3017,Houston,77007,Harris,"1,360",...,0,0,0,0,9/6/2019 16:12,9/6/2019 0:00,Rental,448-1162,1985-2004,1
4,3848481,Rental,Active,5353,Memorial,3002,Houston,77007,Harris,"1,360",...,0,0,0,0,9/6/2019 16:00,9/6/2019 0:00,Rental,448-1162,1985-2004,1

In [209]:
mls_df.columns

Index(['MLS Number', 'Property Type', 'Status', 'Street Number', 'Street Name',
       'Unit Number', 'City/Location', 'Zip Code', 'County', 'List Price',
       'Close Price', 'Close Date', 'Area', 'Subdivision',
       'Master Planned Community', 'Market Area', 'School District',
       'School Elementary', 'School Middle', 'School High', 'Sq Ft Total',
       'Price Sq Ft List', 'Price Sq Ft Sold', 'Lot Size', 'Acres',
       'Price Acre List', 'Price Acre Sales', 'Year Built', 'Bedrooms',
       'Baths Full', 'Baths Half', 'Baths Total', 'Room Count',
       'Fireplaces Number', 'Stories', 'New Construction',
       'New Construction Desc', 'Pool Private', 'No Of Garage Cap', 'Style',
       'DOM', 'CDOM', 'List Office MLSID', 'List Office Name',
       'List Agent MLSID', 'List Agent Full Name', 'Selling Office MLSID',
       'Selling Office Name', 'Selling Agent MLSID', 'Selling Agent Full Name',
       'Realist Owner Name', 'Last Change Timestamp', 'List Date ',
       'Rent_Sale', 'SqrFt_Bin', 'YrBuilt_Bin', 'numberOfBedrooms'],
      dtype='object')

In [210]:

# save to csv

#mls_df.to_csv(r'C:\Data from D drive\Temp\File Name.csv')

In [211]:
#mls_df.fillna(0, inplace=True)

In [212]:
mls_df_2 = mls_df[['Market Area','Rent_Sale', 'SqrFt_Bin', 'YrBuilt_Bin', 'numberOfBedrooms','List Price']]

In [213]:
value_table = pd.pivot_table(mls_df_2, values='List Price', index=['Market Area','SqrFt_Bin', 'YrBuilt_Bin', 'numberOfBedrooms'],columns=['Rent_Sale'], aggfunc=np.mean, fill_value=0)

In [215]:
value_table.tail(30)

Rent_Sale                                                                 Rental  \
Market Area                       SqrFt_Bin YrBuilt_Bin numberOfBedrooms
Rice Military/Washington Corridor 2593-3307 2005-2019   4                  3,995
                                  3308-4022 1985-2004   2 or 3             4,750
                                                        4                  8,250
                                            2005-2019   2 or 3                 0
                                                        4                  5,000
                                  4023-4737 1985-2004   4                  5,000
                                            2005-2019   4                      0
                                  4738-5452 2005-2019   4                      0
Washington East/Sabine            448-1162  1908-1927   2 or 3             1,900
                                            1928-1946   1                  1,395
                                                        2 or 3             1,730
                                            2005-2019   1                  1,612
                                                        2 or 3             2,001
                                  1163-1877 1870-1888   2 or 3             1,850
                                            1889-1907   2 or 3             2,500
                                            1908-1927   2 or 3                 0
                                            1928-1946   2 or 3             2,439
                                            1985-2004   1                      0
                                                        2 or 3                 0
                                            2005-2019   2 or 3             2,255
                                  1878-2592 1889-1907   5                      0
                                            1928-1946   4                      0
                                            1985-2004   2 or 3             2,442
                                            2005-2019   2 or 3             3,129
                                                        4                  3,800
                                  2593-3307 1908-1927   1                      0
                                                        4                      0
                                            2005-2019   2 or 3             3,275
                                                        4                  3,850
                                  6883 -    1928-1946   2 or 3             1,850

Rent_Sale                                                                     Sale
Market Area                       SqrFt_Bin YrBuilt_Bin numberOfBedrooms
Rice Military/Washington Corridor 2593-3307 2005-2019   4                  689,725
                                  3308-4022 1985-2004   2 or 3             649,000
                                                        4                  974,500
                                            2005-2019   2 or 3             900,786
                                                        4                  819,580
                                  4023-4737 1985-2004   4                  947,500
                                            2005-2019   4                  995,000
                                  4738-5452 2005-2019   4                1,250,000
Washington East/Sabine            448-1162  1908-1927   2 or 3                   0
                                            1928-1946   1                        0
                                                        2 or 3             279,667
                                            2005-2019   1                        0
                                                        2 or 3                   0
                                  1163-1877 1870-1888   2 or 3                   0
                                            1889-1907   2 or 3             599,000
                                            1908-1927   2 or 3             452,400
                                            1928-1946   2 or 3             478,200
                                            1985-2004   1                  334,900
                                                        2 or 3             367,667
                                            2005-2019   2 or 3             324,000
                                  1878-2592 1889-1907   5                  425,000
                                            1928-1946   4                  599,000
                                            1985-2004   2 or 3                   0
                                            2005-2019   2 or 3             409,300
                                                        4                        0
                                  2593-3307 1908-1927   1                  789,000
                                                        4                  849,000
                                            2005-2019   2 or 3             540,671
                                                        4                  474,500
                                  6883 -    1928-1946   2 or 3                   0

In [145]:
# save to csv

# value_table.to_csv(r'C:\Data from D drive\Temp\table.csv')